// ===============
// colors palette
// ===============
:root {
  // Site colors (Кольори сайту):
  // =================================================================
  --border-color: #d2d2d2;
  --hover-color: #adadad;

  // Background colors (Фонові кольори):
  // =================================================================

  --bg-accent-one: #800080;
  --bg-accent-two: #ff6347;
  --bg-accent-three: #008000;
  --bg-accent-four: #ffa500;
  --bg-accent-five: #eeaacc;
  --bg-unfocus-months: #fafafa;
  --bg-current-day: #d0ff45;

  // Text colors (Текстові кольори):
  // =================================================================
  --text-unfocuse-months: #38383840;
  --text-currend-day: #000000;
  // =================================================================
}
