.popup {
  &:modal {
    background-color: #fff;
    width: 35vw;
    max-height: 90vh;
    padding: rem(25);
    border-radius: rem(10);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: $mobile) {
      width: 90vw;
      top: 30%;
    }

    @media (max-width: $tablet) {
      width: 70vw;
    }
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.6);
  }
  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(20);
    margin: rem(25) 0 0;
  }

  &__textarea {
    grid-area: 1/1/2/3;
    resize: vertical;
    max-height: rem(350);
    min-height: rem(25);
  }

  &__textarea,
  &__btn {
    padding: rem(5) rem(15);
    border-bottom: rem(1) solid var(--border-color);
  }

  &__close {
    cursor: pointer;
    width: rem(15);
    height: rem(15);
    position: absolute;
    top: rem(15);
    right: rem(15);

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      height: rem(2);
      width: rem(15);
      background-color: var(--bg-close-popup);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &__title {
    font-size: rem(20);
  }
}
