.calendar {
  &__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: rem(140);

    .current {
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(15);
      height: 100%;
      flex: 1;
      font-size: rem(32);
      line-height: calc(39 / 32);
      width: 90%;
      div {
        text-align: center;
      }
      &__month,
      &__year {
        cursor: pointer;
      }

      &__arrow--left,
      &__arrow--right {
        border-bottom: rem(4) var(--border-color) solid;
        border-right: rem(4) var(--border-color) solid;
        width: rem(25);
        height: rem(25);
        cursor: pointer;
      }

      &__arrow--left {
        transform: rotate(135deg);
      }
      &__arrow--right {
        transform: rotate(-45deg);
      }
    }
  }

  &__days {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    li {
      display: flex;
      width: calc((100% - 30px) / 7);
      flex: 1;
      padding: rem(16) rem(24);
      border-right: 1px solid var(--border-color);
      border-top: 1px solid var(--border-color);
      &:first-child {
        border-left: 1px solid var(--border-color);
      }
    }
  }
}

.month {
  width: calc(100vw - rem(30));
  height: calc(100vh - rem(140));
  padding-bottom: rem(15);
  &__days {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    overflow: hidden;
  }

  &__day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(10);
    font-weight: 400;
    line-height: calc(39 / 32);
    color: $mainColor;
    width: calc(100% / 7);
    height: calc(100% / 6);
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    cursor: pointer;
    transition: all 0.3s linear;
    @include adaptiveValue('font-size', 20, 16);
    @include adaptiveValue('padding-top', 15, 5);
    @include adaptiveValue('padding-right', 15, 5);
    @include adaptiveValue('padding-bottom', 15, 5);
    @include adaptiveValue('padding-left', 15, 5);
    text-align: center;
    overflow: hidden;
    &:hover {
      background-color: var(--hover-color);
      box-shadow: 0 0 15px var(--hover-color);
    }
  }

  &__prew,
  &__next {
    background-color: var(--bg-unfocus-months);
    color: var(--text-unfocuse-months);
  }
}

.tasks {
  display: flex;
  flex-wrap: wrap;
  gap: rem(4);
  line-height: calc(15 / 11);
  color: #fff;
  font-size: rem(14);
  .task {
    margin: 0 0 0 auto;
    padding: rem(4) rem(8);
    border-radius: rem(16);
    @include adaptiveValue('width', 130, 25);
    height: rem(25);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &--color {
      &-1 {
        background-color: var(--bg-accent-one);
      }
      &-2 {
        background-color: var(--bg-accent-two);
      }
      &-3 {
        background-color: var(--bg-accent-three);
      }
      &-4 {
        background-color: var(--bg-accent-four);
      }
      &-5 {
        background-color: var(--bg-accent-five);
      }
    }
  }
}

.data {
  &--curr {
    color: var(--text-currend-day);
    span {
      background-color: var(--bg-current-day);
      border-radius: 50%;
      padding: rem(5);
    }
  }
}
